
footer{

position:relative;

}


footer div{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;

}

footer nav ul{

display:flex;
justify-content: space-between;
background-color:  #464749e1 ;
padding: 1em;
list-style-type: none;

}

footer nav ul li a{

text-decoration:none;
color:#e1e2e6;

}

footer nav ul li a:hover{

color:#ffffff;
text-decoration:underline;

}

div.popin{

position: fixed;
z-index: 100;
background:#1a1b1e;
left:50%;
top: 50%;
transform:translate(-50%,-50%);
box-shadow: rgba(255, 255, 255, 0.329) 0px 50px 100px -20px, rgba(255, 255, 255, 0.514) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 1rem 1rem 1rem 1rem;
padding: 2.5rem 2.5rem 2.5rem 2.5rem;
width: calc(100% - 10rem);
max-width: 50rem;
text-align: center;

}

div.popin a.fermer{

display:grid;
position:absolute;
right: 0.5rem;
top: 0.5rem;

}

div.popin a.fermer .nav_toggle_item:nth-child(1) {

rotate:45deg;
width:30px;
height: 6px;
background-color:#e1e2e6;
border-radius: 1em 1em 1em 1em;
transition: all 0.5s ease-in-out;

}

div.popin a.fermer .nav_toggle_item:nth-child(2) {

rotate:-45deg;
width:30px;
height: 6px; 
background-color: #e1e2e6;
border-radius: 1em 1em 1em 1em;
transition: all 0.5s ease-in-out;

}

div.popin h2{

font-family: "Red+Hat+Display", sans-serif;
font-size: 1.25rem;
line-height: 1rem;
margin-bottom: 1rem;
color:white;

}

div.popin  h2:after{

content: ' ';
width: 45rem;
height: 0.15rem;
background-color: #ffffff;
display: block;
margin: 0.5rem 0 0 0;

}

div.popin .texte{

font-size: 1.125rem;
color:white;

}

div.popin .texte p{

margin-bottom: 0.5rem;

}