
footer{

position:relative;

}


footer div{

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}


footer div ul{


    
    display:flex;
    justify-content: space-between;
    background-color:  #464749e1 ;
    padding: 1em;
    list-style-type: none;

}

footer div ul li a{

text-decoration:none;
color:#e1e2e6;
}


footer div ul li a:hover{

  color:#ffffff;
  text-decoration:underline;
}