



*{
margin:0;
padding:0;
box-sizing:border-box; 


}

header{
   
    position: fixed;
    width:100%;
}

nav#menu_desktop{

font-family: "Poppins", sans-serif;
position :relative;
display: flex;
justify-content:space-around;
background: #1e232f;
padding: 10px 0;

}

nav#menu_desktop a{

position:relative;
text-decoration: none;
padding: 15px 25px;
color: white;
font-weight:400;
letter-spacing: 0.1em;
}

#active{


left: 0;
    top:0;
bottom: 0;
right:0;
position:absolute;
border-bottom: 5px solid #f8f8f8;
background: linear-gradient(0deg,#ffffff33,transparent);
pointer-events: none;
filter: drop-shadow(0 5px 25px #ffffff);
transition: all 0.3s;







}

nav ul#menu_mobile{

display: none;
flex-direction: column;
justify-content:center;
position:absolute;
z-index: 3;
list-style-type: none;
background-color:#464749;

}

nav ul#menu_mobile li{

padding:1.5em 2em 2em 2em;

}

nav ul#menu_mobile li a{

text-decoration:none;
color:#e1e2e6;

}

nav ul#menu_desktop{

display:flex;
justify-content: space-around;
gap:3em;
list-style-type: none;
background-color:#464749;


}




.menu_toggle{

display:grid;
width: 50px;
height: 50px;
margin: 2em 0 0 2em;
padding: 7px 0 0 3px;
background-color:#464749;
border-color:black;

}

nav #menu_toggle .nav_toggle_item:nth-child(1) {

width:40px;
height: 6px;
background-color:#e1e2e6;
border-radius: 1em 1em 1em 1em;
transition: all 0.5s ease-in-out;

}

nav #menu_toggle .nav_toggle_item:nth-child(2) {

width:40px;
height: 6px; 
background-color: #e1e2e6;
border-radius: 1em 1em 1em 1em;
transition: all 0.5s ease-in-out;

}

nav #menu_toggle .nav_toggle_item:nth-child(3) {

width:40px;
height: 6px;
background-color:#e1e2e6;
border-radius: 1em 1em 1em 1em;
transition: all 0.5s ease-in-out;

}

#menu_mobile.active{

    display:flex ;

}

.hidden{

    display:grid;
    
}

.expanded :nth-child(1) {

    transform: rotate(45deg) translate(10px, 9px);
    transition: all 0.5s ease-in-out;

}

.expanded :nth-child(2) {

    opacity: 0;
    transition: all 0.5s ease-in-out;

}

.expanded :nth-child(3) {

    transform: rotate(-45deg) translate(9px, -8px);
    transition: all 0.5s ease-in-out;
    
}