

main section#autresinformations{

display:flex;
flex-wrap:wrap;
justify-content:center;
padding:9em 2em 2em 2em;

}

main section#autresinformations section#coordonnees section#competencesprofessionnelles section#badgesobtenus section#langues section#centresdinteret{

width: calc(100% / 3 - 0.5rem - 0.5rem - 0.5rem - 0.5rem); 

}

main section#coordonnees h2{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
display: grid;
justify-content:center;
padding:1em 1em 1em 1em;

}

section#coordonnees h2:after{

content: ' ';
width: 9.25rem;
height: 0.10rem;
background-color: #000000;

}

main section#coordonnees h3{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
 
}

 main section#coordonnees{


display:grid;
background-color:  #7a7b81d8 ;
padding: 0.5rem 2rem 2rem 2rem;
margin: 0 1rem 2rem 1rem;
border-radius: 1rem 1rem 1rem 1rem;
box-shadow: rgba(255, 255, 255, 0.329) 0px 50px 100px -20px, rgba(255, 255, 255, 0.514) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

main section#coordonnees address{

display: block;
font-weight: 400;
margin: 1rem 0 1rem 0;
text-align: center;

}

main section#coordonnees iframe{

width: 100%;
height: 15rem;
margin: 0 0 1rem 0;
border: 0.25rem solid #772525;
border-radius: 1rem 1rem 1rem 1rem;

}

main section#coordonnees iframe:hover{

transition: all 0.5s ease-in-out;
transform:scale(1.10)

}

main section#coordonnees ul{

display: flex;
flex-wrap: wrap;
margin-bottom: 1rem;
align-items: center;
list-style-type:none;

}

main section#coordonnees ul li{


margin: 0 0.5rem 0.5rem 0;

}

main section#coordonnees ul li a{
    

font-weight:800;
border-bottom: 0.10rem solid transparent;
transition: all 0.5s ease-in-out;

}

main section#coordonnees ul li a:hover{

color: #09207a;

}

main section#coordonnees ul li img{


font-size: 2.5rem;
transition: all 0.5s ease-in-out;

}

main section#coordonnees ul li a:hover img{

font-size: 2.75rem;
transform:scale(1.25);

}

main section#competencesprofessionnelles{
    
display:grid;
background-color:  #7a7b81d8 ;
padding: 0.5rem 1rem 2rem 1rem;
margin: 0 1rem 2rem 1rem;
border-radius: 1rem 1rem 1rem 1rem;
box-shadow: rgba(255, 255, 255, 0.329) 0px 50px 100px -20px, rgba(255, 255, 255, 0.514) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

main section#competencesprofessionnelles h2{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
justify-content:center;
padding:1em 1em 1em 1em;

}

main section#competencesprofessionnelles h2:after{

content: ' ';
width: 21.25rem;
height: 0.10rem;
background-color: #000000;
display: block;
margin: 0.5rem 0 0 0;

}

main section#competencesprofessionnelles ul{

display:grid;
gap:1em;
font-size: 1.25rem;
text-align: center;
padding: 2rem 0 2rem 0 ;
list-style-type:none;

}

main section#badgesobtenus{
    
display:grid;
background-color:  #7a7b81d8 ;
padding: 0.5rem 1rem 2rem 1rem;
margin: 0 1rem 2rem 1rem;
border-radius: 1rem 1rem 1rem 1rem;
box-shadow: rgba(255, 255, 255, 0.329) 0px 50px 100px -20px, rgba(255, 255, 255, 0.514) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

main section#badgesobtenus h2{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
display: grid;
justify-content:center;
padding:1em 1em 1em 1em;

}

main section#badgesobtenus h2:after{

content: ' ';
width: 11.25rem;
height: 0.15rem;
background-color: #000000;
display: block;
justify-content:center;
margin: 0.5rem 0 0 0;

}

main section#badgesobtenus ul{

font-size: 1.25rem;
text-align: center;
padding: 2rem 0 5rem 0 ;
list-style-type:none;

}

main section#badgesobtenus ul li iframe{

width:200px;
height:150px;

}

main section#langues{

background-color:  #7a7b81d8 ;
padding: 0.5rem 2rem 2rem 2rem;
margin: 0 2rem 2rem 2rem;
border-radius: 1rem 1rem 1rem 1rem;
height:20em;
box-shadow: rgba(255, 255, 255, 0.329) 0px 50px 100px -20px, rgba(255, 255, 255, 0.514) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

main section#langues h2{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
display: grid;
justify-content:center;
padding:1em 1em 1em 1em;

}

main section#langues h2:after{

content: ' ';
width: 14rem;
height: 0.10rem;
background-color: #000000;
display: block;
margin: 0.5rem 0 0 0;

}

main section#langues h3{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;  
color:white;
}
main section#langues ul{

display: flex;
flex-wrap: wrap;
margin-bottom: 1rem;
list-style-type:none;

}

main section#langues ul li{

width: calc(100% / 1);
margin: 0 0 0.5rem 0;

}

main section#langues ul li h3{

margin: 0 0 0.5rem 0;

}

main section#langues ul li .niveau{

width: calc(110% - 1rem);
border: 0.125rem solid #000000;
height: 1rem;
border-radius: 1rem;
text-align: center;

}

main section#langues ul li .niveau span{

text-indent: -1000rem;
display: block;
height: 0.75rem;
width: 0;
background-color: #636363;
border-radius: 0.5rem;

}

main section#langues ul li .niveau.Expert span{

width: 100%;

}

main section#langues ul li .niveau.bonNiveau span{

width: 75%;

}

main section#langues ul li .niveau.medium span{

width: 50%;

}

main section#centresdinteret{

background-color:  #7a7b81d8 ;
padding: 0.5rem 2rem 2rem 2rem;
margin: 0 2rem 2rem 2rem;
border-radius: 1rem 1rem 1rem 1rem;
height:25em;

}

main section#centresdinteret h2{

font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
display: grid;
justify-content:center;
padding:1em 1em 1em 1em;

}

main section#centresdinteret h2:after{

content: ' ';
width: 11.5rem;
height: 0.10rem;
background-color: #000000;
display: block;
margin: 0.5rem 0 0 0;

}

main section#centresdinteret ul{

display: grid;
flex-wrap: wrap;
margin-bottom: 1rem;
list-style-type:none;

}

main section#centresdinteret ul li{

padding: 1rem 1rem 1rem 1rem;
border-radius: 1rem 1rem 1rem 1rem;
background-color:  #b5b6bed8 ;
color: #000000;
margin: 0 0.5rem 0.5rem 0;
box-shadow: rgba(255, 255, 255, 0.329) 0px 50px 100px -20px, rgba(255, 255, 255, 0.514) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}