main div section#presentation{

    padding:9em 2em 2em 2em;

}

main section#presentation h2{

    display: grid;
    justify-content:center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

main section#presentation h2:after{

    content: ' ';
    width: 8.75rem;
    height: 0.10rem;
    background-color: #000000;

}

main section#presentation div{

    display: grid;
    justify-content:center;
    gap:1em;
    padding:3em 2em 2em 3em;
    margin:4em 6em 2em 6em;
    background-color:  #7a7b81d8 ;
    border-radius:0.5em;
    box-shadow: rgba(255, 255, 255, 0.329) 0px 50px 100px -20px, rgba(255, 255, 255, 0.514) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

main section#presentation div p{

    text-align:justify; 

}