main div section#presentation{

    padding:4em 2em 2em 2em;

}

main section#presentation h2{

    display: grid;
    justify-content:center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

main section#presentation h2:after{

    content: ' ';
    width: 8.5rem;
    height: 0.10rem;
    background-color: #000000;

}

main section#presentation div{

    display: grid;
    justify-content:center;
    gap:1em;
    padding:3em 2em 2em 3em;
    margin:4em 4em 2em 4em;
    background-color:  #7a7b81d8 ;
    border-radius:0.5em;

}

main section#presentation div p{

    text-align:justify; 

}