
html, body{

    scroll-behavior: smooth;
    min-width: 360px;
      background: url('../assets/studiogris.jpg') no-repeat 0 0;
    background-attachment: cover;
     background-size: cover;
     scroll-behavior: smooth;
     background-blend-mode: soft-light;
     background-position: center center;
}

body{

   

    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;


}



main div section#index{

    display: grid;
    justify-content:center;
    padding:6em 2em 2em 2em;
}

main div section#presentation{

    padding:6em 2em 2em 2em;

}

main section#presentation h2{

    display: grid;
    justify-content:center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main section#presentation h2:after{

    content: ' ';
    width: 8.5rem;
    height: 0.10rem;
    background-color: #3c4f9b;
    display: block;
    margin: 0;
}

main section#presentation div{

    display: grid;
    justify-content:center;
    padding:4em 2em 2em 2em;
}

main section#professionnalexperience h2{


font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: grid;
    justify-content:center;
    padding:4em 2em 2em 2em;

}

main section#professionnalexperience h2:after{

content: ' ';
    width: 20rem;
    height: 0.10rem;
    background-color: #3c4f9b;
    display: block;
    margin: 0;
}

main section#professionnalexperience ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content:left;
    padding:1em 2em 2em 2em;
    margin:0.5em 0.5em 0.5em 6em;
}
main section#professionnalexperience ul li{
    width: calc(100% / 3 - 0.5rem - 0.5rem - 1rem - 1rem); /** - MG - MD - PG - PD **/
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color:  #caccd3 ;
    border-radius: 1rem 1rem 1rem 1rem;
}

main section#certifications h2{


font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: grid;
    justify-content:center;
    padding:4em 2em 2em 2em;

}
main section#certifications h2:after{

content: ' ';
    width: 12.5rem;
    height: 0.10rem;
    background-color: #3c4f9b;
    display: block;
    margin: 0;
}

main section#certifications ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content:left;
    padding:1em 2em 2em 2em;
    margin:0.5em 0.5em 0.5em 6em;
}
main section#certifications ul li{
    width: calc(100% / 3 - 0.5rem - 0.5rem - 1rem - 1rem); /** - MG - MD - PG - PD **/
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color:  #caccd3 ;
    border-radius: 1rem 1rem 1rem 1rem;
}


main section#logicielsetlang h2{


font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: grid;
    justify-content:center;
    padding:4em 2em 2em 2em;

}
main section#logicielsetlang h2:after{
content: ' ';
    width: 19.25rem;
    height: 0.10rem;
    background-color: #3c4f9b;
    display: block;
    margin: 0;
}


main section#logicielsetlang div.software{
    display: flex;
    flex-wrap: wrap;
}
main section#logicielsetlang div.software{
    width: calc(100% / 3 - 0.5rem - 0.5rem - 1rem - 1rem); /** - MG - MD - PG - PD **/
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color:  #caccd3 ;
    border-radius: 1rem 1rem 1rem 1rem;
}

main section#logicielsetlang div.language{
    display: flex;
    flex-wrap: wrap;
}
main section#logicielsetlang div.language{
    width: calc(100% / 3 - 0.5rem - 0.5rem - 1rem - 1rem); /** - MG - MD - PG - PD **/
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color:  #caccd3 ;
    border-radius: 1rem 1rem 1rem 1rem;
}
main section#logicielsetlang h3{


font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

main section#informations h2{


font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: grid;
    justify-content:center;
    padding:4em 2em 2em 2em;

}
main section#informations h2:after{

   content: ' ';
    width: 7.25rem;
    height: 0.10rem;
    background-color: #3c4f9b;
    display: block;
    margin: 0; 
}
main section#informations h3{

font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main section#informations div{

    display: flex;
    flex-wrap: wrap;
   
}

main section#informations div div.infos{
    display: grid;
    flex-wrap: wrap;
    width: calc(100% / 3 - 0.5rem - 0.5rem - 1rem - 1rem); /** - MG - MD - PG - PD **/
     margin:0 1em 0 1em;
    padding: 1rem 1rem 1rem 1rem;
    background-color:  #caccd3 ;
    border-radius: 1rem 1rem 1rem 1rem;
}
main section#informations div div.spoken{
    display: grid;
    flex-wrap: wrap;
    justify-content:center;
    width: calc(100% / 3 - 0.5rem - 0.5rem - 1rem - 1rem); /** - MG - MD - PG - PD **/
     margin:0 1em 0 1em;
    padding: 1rem 1rem 1rem 1rem;
    background-color:  #caccd3 ;
    border-radius: 1rem 1rem 1rem 1rem;
}
main section#informations div div.spoken h3{

display: grid;
justify-content:center;
}

main section#informations div div.spoken h4{

display: grid;
justify-content:center;
}

main section#informations div div.spoken p{
display: grid;
justify-content:center;  
}

main section#informations div div.hobbies h3{
display: grid;
justify-content:center; 

}
main section#informations div div.hobbies{
    display: grid;
    flex-wrap: wrap;
    width: calc(100% / 3 - 0.5rem - 0.5rem - 1rem - 1rem); /** - MG - MD - PG - PD **/
     margin:0 1em 0 1em;
    padding: 1rem 1rem 1rem 1rem;
    background-color:  #caccd3 ;
    border-radius: 1rem 1rem 1rem 1rem;
    
}
main section#informations div div.hobbies ul{
display: grid;
justify-content:center;
}

main section#informations div div.hobbies ul li{
    list-style-type: none;
    display: grid;
    justify-content:center;
}
