@import url("css/header.css");
@import url("css/footer.css");
@import url("css/index.css");
@import url("css/presentation.css");
@import url("css/experiences.css");
@import url("css/certifications.css");
@import url("css/logicielsetlang.css");
@import url("css/informations.css");
@import url("css/responsive.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing:border-box; 
}

main{
    min-height: 170vh;
    scroll-behavior: smooth;
    min-width: 360px;
      background: url('../assets/studiogris.jpg') no-repeat 0 0;
    background-attachment: cover;
     background-size: cover;
     scroll-behavior: smooth;
     background-blend-mode: soft-light;
     background-position: center center;

}

html, body{

}

body{


    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;


}

